body {
}
.row-1{
    padding-top:2%;
    width:100%;
    height:70px;
}
.row-1-colum1 {
    width: 50%;
    height: 40px;
    padding-left:2%;
    float:left;
}
    .row-1-colum1 h3 {
        color: #22468E;
        font-family: Arial;
    }
.row-1-colum2 {
    width: 45%;
    height: 70px;
    margin-right:1%;
    float:right;
}
.row-2{
    width:100%;
    padding-left:1%;
}
.row-3{
    width:100%;
    padding-left:2%;
}
.button-add {
    float: right;
    border: 1px solid #417FC7;
    height: 40px;
    width: 130px;
    border-radius: 25px;
    background: #fff;
    font-family: Arial;
    font-weight: bold;
    color: #417FC7;
    cursor:pointer;
}
.button-choose {
    width: 173px;
    height: 35px;
    /* float: inherit; */
    margin-right: 2%;
    background: #D85121;
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
    color: aliceblue;
    cursor: pointer;
    margin-top: 27px;
}
.button-cancelchoose {
    width: 90px;
    height: 30px;
    float: left;
    float: top;
    margin-right: 2%;
    background: #D85121;
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
    color: aliceblue;
    cursor: pointer;
}
.button-delete {
    width: 90px;
    height: 30px;
    float: right;
    margin-right: 1%;
    margin-top: 15px;
    background-image:url("../Image/icons8_edit_profile_30px.png");
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
    color: aliceblue;
    cursor: pointer;
}
.button-update {
    width: 90px;
    height: 30px;
    float: right;
    margin-right: 1%;
    margin-top: 15px;
    background-image: url("../Image/icons8_waste_40px_2.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
    color: aliceblue;
    cursor: pointer;
}
    .button-add:hover {
        color: #fff;
        background: #417FC7;
        border: 2px solid #fff;
    }
.title_name{
    font-family:Arial;
    font-weight:bold;
    font-size:15px;
    
}
.title_detail {
    font-family: Arial;
    font-style:italic;
    font-size: 12px;
}
.text-box-short {
    width: 250px;
    height: 30px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 1%;
}
.text-box-long {
    width: 350px;
    height: 150px;
    font-family: Arial;
    font-weight: bold;
    padding-left:30px;
    padding-top:-100px;
    word-wrap:break-word;
    margin-top:1%;
}